.Rproj.user
.Rhistory
.RData
.Ruserdata

**/__pycache__

.DS_Store

/.quarto/
/.vscode/

/projects/gender-nn/celeba
/projects/gender-nn/ThisPersonDoesNotExist_resize
/projects/gender-nn/trained_models